<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">Tu khoa</label>
      <input type="text" class="form-control" name="q" id="exampleInputEmail1" placeholder="Nhap tu khoa" aria-describedby="emailHelp">
    </div>

    <div class="form-group">
      <label for="gender-input">Gender</label>
      <select class="form-control" name="gender" id="gender-input">
        <option value="">--Chon gioi tin</option>
        <option value="Nam">Name</option>
        <option value="Nu">Nu</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Tim kiem</button>
  </form>
</div>



